body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://www.logo.wine/a/logo/Reddit/Reddit-Logomark-White-Dark-Background-Logo.wine.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
h4 {
    font-size: 20px;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields {
    display: flex;
    align-items: center;
}
.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 500px;
    width: 500px;
    padding: 10px;
    background-color: navy;
}
.img {
    height: 100px;
    width: 100px;
}
button {
    margin: 10px 0 10px 10px;
}
.hidden {
    display: none;
}